/** Carrousel **/
.carrousel {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    z-index: 9999;
    align-items: center;
    justify-content: center;
}

.fermer {
    position: fixed;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 50px;
    cursor: pointer;
}

#image {
    max-width: 90%;
    max-height: 90%;
}

.fleche {
    background: none;
    border: none;
    color: white;
    font-size: 60px;
    cursor: pointer;
}

.miniature {
    width: 700px;
    max-width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
    transition: opacity 0.3s;
}


.miniature:hover {
    opacity: 0.8;
}